# Git branches folders
/branches

# Output binaries dir
/!output

# Pythons directory
/brwf/__pycache__
/venv

# Scripts binaries
/platform-tools
/zulu17
revanced-integrations.apk
revanced-cli-all.jar
revanced-patches.jar

# Downloaded apk
youtube1.apk
youtube2.apk

# Scripts data files
adb.txt

# Revanced building files
/revanced-cache
options.toml
